* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* title styling */

.titleBox {
  font-weight: bold;
  font-size: 60px;
  display: flex;
  justify-content: center;
  border-bottom: black solid 4px;
  margin: 5px 2px;
  padding-top: 10px;
} 

/* Styling of Actual ToDo List box */ 

.actualStuff {
  display: flex;
  width: 100%;
  height: 100vh;
}

.projectList {
  margin: 5px 2px;
  width: 18%;
  height: 100vh;
  border-right: black solid 3px;
  display: flex;
  justify-content: start;
  flex-direction: column;
}


.projectOverview {
  width: 82%;
  margin: 5px 2px;
  border-left: black solid 3px;
}

/* Button for adding */

.btnAdd {
  height: 4%;
  width: 94%;
  font-weight: bold;
  font-size: 16px;
  margin: 10px 10px;
}

.actualProjects {
  height: 100%;
  border-top: black solid 3px;
  margin: 5px 2px;
  width: 14vw;
}

.addingStuff, .cancelingStuff {
  height: 28px;
  width: 60px;
  text-align: center;
}



/* Modal Form */ 

#modalBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 30px;
  background: white;
  margin-top: 10px;
}

.justInput {
  text-align: center;

}

.projectClass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: white;
  border: black solid 2px;
  border-radius: 2px;
  margin-top: 10px;
  height: 35px;
  font-size: 22px;
}

.projectClass:hover {
  background-color: #CED1D0;
}

#buttonDiv {
  display: flex;
  justify-content: space-around;
  margin: 8px;
};

.todoDetails {
  display: block;
  margin: auto;
  margin-top: 40px;
  height: 70%;
  width: 30%;
  border: black solid 3px;
}

.todoDetails {
  text-align: center;
  display: block;
  margin: auto;
  padding: 5px;
  margin-top: 40px;
  height: 70%;
  width: 30%;
  border: black solid 3px;
}